
.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 30px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  width: 100px;
  height: 100px;
  text-align: center;
}

#container {
  max-width: 960px;
  min-width: 400px;
  margin: 0 auto;
  text-align: center;
}

#status {
  height: 40px;
}

#restart {
  margin-top: 10px;
  width: 120px;
  height: 80px;
}

table {
  margin: 0 auto;
}